<h1>Create an Album</h1>

<form action="<%= band_albums_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="band">Band: </label>
	<!-- dropdown -->
	<select name="album[band_id]" id="band">
		<% @bands.each do |band| %>
			<option value="<%= band.id %>"><%= band.id %>. <%= band.name %></option>
		<% end %>
	</select>
	<br>

	<label for="title">Title: </label>
	<input type="text" id="title" name="album[title]">
	<br>
	<input type="submit" value="Create Album">
</form>